<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="author"  content="Francisco Cornejo-Garcia">
    <meta name="description" content="Personal blog">
    <meta name="keywords" content="Neovim, Vim, College, Tips">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="robots" content="index,follow">
    <link href="assets/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="assets/css/main.css"rel="stylesheet" type="text/css">
    <title>$title$</title>
  </head>
  <body>
    <header>
      <div class="with-image">
        <img src="assets/img/profile/profile-1024.jpeg" alt="A man smiling with his arms crossed.">
        <p>Francisco Cornejo-Garcia <span class="tagline">RIT | Computer Science</span></p>
      </div>
      <nav>
        <a href="index.html">About</a>
        <a href="posts.html">Posts</a>
      </nav>
      <h1 class="title">$title$</h1>
    </header>
    <main>
      $body$
    </main>
    <footer>
      <p>Copyright 2021 Francisco Cornejo-Garcia  All Rights Reserved.</p>
      <p>Available under <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">
        Creative Commons Attribution ShareAlike</a>.
      </p>
    </footer>
    </body>
</html>
