<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="robots" content="index,follow">
    <link href="static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="static/css/main.css"rel="stylesheet" type="text/css">
    <title>$title$</title>
  </head>
  <body>
    <header>
      <div class="with-image">
        <img src="static/img/profile/profile-1024.jpeg">
        <p>Francisco Cornejo-Garcia <span class="tagline">RIT | Computer Science</p>
      </div>
      <nav>
        <a href="index.html">About</a>
        <a href="posts.html">Posts</a>
      </nav>
      <h1 class="title">$title$</h1>
    </header>
    <main>
      $body$
    </main>
    <footer>
      <p>Copyright 2021 Francisco Cornejo-Garcia  All Rights Reserved.</p>
      <p>Available under <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">
        Creative Commons Attribution ShareAlike</a>.
      </p>
    </footer>
    </body>
</html>
